/*********************************************
***********************Basics************
***********************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
     background-color: #ffffff;
}
textarea{
    resize: none;
}

/*********************************************
***********************background************
***********************************************/
#main{
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 100%!important;
    background-color:lightcoral;
    color:white;
    display: flex;
    justify-content: center;
}
/*********************************************
***********************Heading(main)************
***********************************************/
.items h1{
    transition: linear 2s all;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

/*********************************************
***********************tasks-panel************
***********************************************/
.items .tasks{
    transition: ease-in-out 3s all!important;
    overflow-y: scroll!important;
    background:lightgray ;
    border: .5px sienna solid;
    width: 60em;  
    height:30em;
    padding: 0 3px;
    padding-top: 20px;
}
/*********************************************
***********************Add-task button************
***********************************************/
.button-add{
    margin-left:83%;
    background: white;
}       
/*********************************************
***********************list-items************
***********************************************/
.tasks ul li{
    transition: linear .5s all;
    overflow-y: hidden;
    padding-top: 10px;
    padding-left:20px ;
    list-style-type: square;
    font-size: 22px;
    border-style: solid;
    width:100%;
    color:lightgray;
    background-color:black;
    height: 50px;
    margin-top: 1px;
    border:none!important;
}
/*********************************************
*********setting color of heading item****
*****************************************/

.tasks-color{
    color: orange;
    font-size: 40px;
    margin-top: 10px;
}
/*********************************************
***********************Delete-Iconcss**********
***********************************************/
.info{
    transition: linear .2s all;
    float: right;
    margin-right: 45px!important;
    font-size: medium;
    margin-top: 5px!important;
    color: red;
}
/*********************************************
***********************Expand-Iconcss************
***********************************************/
.down{
    float: right;
    margin-top: 8px;
    font-size: medium;
    margin-right: 30px!important;
    color:gray;
}
/*********************************************
***********************Innerpanel-heading*****
***********************************************/
.head{
    margin: 10px!important;
    padding: 10px!important;
}
/*********************************************
***********************form************
***********************************************/

/*----------xxxxxxxxxxxxxxxxx*-----------------/

/*********************************************
***********************add-new-task panel*****
***********************************************/
#add-info{
    position: absolute;
    width:30em;
    height:30em;
    background-color:darkgrey;
    z-index: 9999;
    margin-left: 30%;
    top:18%;
    border-radius: 5%;
    border: .5px sienna solid;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

/*********************************************
***********************Select option************
***********************************************/
#add-info #selectPriority{
    font-size: 25px;
    width: 15em;
    height: 60px;
    margin-bottom: 1em;
}

#submitButton{
    background:white;
}
/*********************************************
***********************expandButton************
***********************************************/
.expander{
    transition: linear .2s all;
    height: 200px!important;
}
.para{
    color:white;
    padding-left:30px;
}
/*********************************************
***********************ColorForPriority************
***********************************************/
.High{
    color: Red!important;
    padding-left:30px;
}
.Medium{
    color: green!important;
    padding-left:30px;
}
.Low{
    color: yellow!important;
    padding-left:30px;
}
/*********************************************
***********************CircleForPriority************
***********************************************/
.circle{
    padding-left: 50px;
}